* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* src/styles/ProductList.css */
.product-list {
  /* margin: 20px; */
  background: linear-gradient(to bottom, #333 0%, #30cfd0 50%, #333 100%);
}

.search-bar {
  padding: 10px;
  margin-bottom: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  width: 250px;
  text-align: left;
  text-decoration: none;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.product h2 {
  color: #000;
  margin: 10px 0;
}
.product p {
  color: #000;
  margin: 10px 0;
}
.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.product img {
  width: 100%;
}

/* src/styles/ProductDetails.css */
.product-details {
  /* margin: 20px; */
  padding: 80px 0px;
  background: linear-gradient(to bottom, #333 -5%, #30cfd0 50%, #333 105%);
}

.back-button {
  display: block;
  margin: 0px 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}

.product-details > img,
.product-details > h1,
.product-details > p,
.product-details > strong {
  color: #333;
  margin-bottom: 10px;
}

.reviews {
  margin-top: 20px;
  color: #333;
}
.reviews h2 {
  margin-bottom: 10px;
}

/* src/styles/Footer.css */
.footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.footer a {
  color: #fff;
  margin: 0 5px;
  text-decoration: none;
}

.footer p {
  margin: 16px 0;
}
.footer a:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .product {
    width: 100%;
  }

  .large-image {
    width: 100%;
  }
}
